body {
        background-image: url(https://cdn.wallpapersafari.com/91/81/1bWD6s.png);
        background-position: center center;
        background-repeat: repeat;
        background-attachment: fixed;

        background-color: #999;
        
      }
      body {
        font-family: "Titillium Web";
      }
      main.container {
    background: white;
    width: 75%;
    height: 50%;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-left: 6px solid #3C3D3E;
    border-left-width: 15px;
    border-radius: 20px;
    margin-top: 25%;
    margin-right: 5%;
    margin-left: 5%;
    
}
div.reload {
	margin-top: 25%;
    margin-right: 5%;
    margin-left: 5%;
}
